<h1>Bookmark-manager</h1>

<!-- <form action='/bookmarks'>
  <input type='submit' value='View Bookmark List'>
</form> -->

<!-- <form action="/bookmarks">
  <input type="submit" value="Show list">
</form>

<form action="/add_new_bookmark" method="post">
  <input type="text" name="new_bookmark">
  <input type="submit" value="add to list">
</form> -->
